@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #000000;
  padding-top: 50px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.header {
  margin-bottom: 40px;
}

.container__header,
.container__wrap,
.container__footer {
  max-width: 1200px;
  margin: 0 auto;
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 1.6em;
  line-height: 1.5;
  padding: 8px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: left 10px center;
}

.input-adress {
  flex: 0.8;
  background-image: url('../img/home.png');
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  font-size: 1.6em;
  line-height: 1.5;
  color: #595959;
}

.button-primary {
  background: #1890ff;
  border: 1px solid #1890ff;
  color: #ffffff;
  margin-right: 10px;
}

.button-icon {
  margin-right: 6px;
  /* vertical-align: middle; */
}

.button:hover {
  border: 1px solid #d9d9d900;
  background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.button:hover,
.button:active,
.button:focus {
  outline: none;
}

.wrap {
  background: linear-gradient(180deg, #f5f5f500 1.04%, #f5f5f5 100%);
}

.container__wrap {
  padding: 18px 0 90px;
}

.promo {
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: top right -100px / 500px no-repeat url('../img/promo.png') #fff1b8;
  border-radius: 10px;
  padding: 68px 70px;
  margin-bottom: 56px;
}

.promo__title {
  font-size: 3.9em;
  line-height: 1.2;
  font-weight: bold;
  color: #302c34;
}

.promo__text {
  max-width: 540px;
  font-size: 2.4em;
  line-height: 1.2;
  color: #302c34;
}

.restaurants__heding {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.restaurants__title {
  margin: 0;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.2;
  margin-right: 30px;
}

.input-search {
  background-image: url('../img/search.svg');
  margin-left: auto;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
  transition: 0.4s linear;
  flex-basis: 32%;
}

.card:hover {
  box-shadow: 0px 4px 12px rgba(22, 20, 20, 0.445);
  transition: 1s ease-in-out;
}

.card__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.card__text {
  padding: 20px 23px 35px 23px;
}

.card__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .card__heading {
  margin-bottom: 15px;
}

.card__title {
  margin: 0;
  font-weight: bold;
  font-size: 2.4em;
  line-height: 1.2;
  color: #000000;
}

.card__title-reg {
  font-weight: 400;
}

.card__tag {
  background: #262626;
  border-radius: 2px;
  font-size: 1.2em;
  line-height: 1.5;
  color: #ffffff;
  padding: 1px 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.card__info {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  line-height: 1.8;
  color: #8c8c8c;
  flex-wrap: wrap;
}

.card__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
}
.card__button {
  margin-right: 30px;
}

.card__price {
  font-weight: bold;
  font-size: 1.12em;
  line-height: 1.6;
  color: #000000;
}

.raiting {
  margin-right: 26px;
  font-weight: bold;
  color: #ffc107;
}

.price:after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #8c8c8c;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
}

.category {
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px;
}

.ingredients {
  color: #8c8c8c;
  margin: 10px 0;
}

.card__button-text {
  font-size: 0.55em;
  line-height: 1.5;
  margin-right: 10px;
}

.footer {
  padding: 60px 0;
}

.container__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-footer {
  margin-left: 35px;
  margin-right: auto;
}

.menu-footer__links {
  display: inline-block;
  font-size: 1.8em;
  line-height: 1.2;
  color: #595959;
}

.menu-footer__links:not(:last-child) {
  margin-right: 15px;
}
.social-menu {
  display: flex;
  align-items: center;
}

.social-menu__links:not(:last-child) {
  margin-right: 21px;
}

@media (max-width: 1366px) {
  .container__header,
  .container__wrap,
  .container__footer {
    max-width: 960px;
  }
  .promo {
    background-size: 390px;
    background-position: top right -150px;
  }
  .card__info {
    font-size: 1.4em;
  }
}

@media (max-width: 992px) {
  .container__header,
  .container__wrap,
  .container__footer {
    max-width: 750px;
  }
  .promo {
    padding: 50px;
    background-size: 310px;
    background-position: center right -100px;
  }
  .promo__text {
    font-size: 1.6em;
    max-width: 340px;
  }
  .card {
    flex-basis: 49%;
  }
  .menu-footer__links {
    font-size: 1.4em;
  }
}

@media (max-width: 768px) {
  .container__header,
  .container__wrap,
  .container__footer {
    max-width: 560px;
  }
  .container__header {
    flex-wrap: wrap;
  }
  .input-adress {
    order: 5;
    margin-top: 15px;
    flex: 1;
  }
  .card__title {
    font-size: 1.8em;
  }
  .card__info {
    flex-wrap: wrap;
  }
  .raiting {
    flex-basis: 100%;
  }
  .menu-footer__links {
    display: block;
  }
  .menu-footer__links:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .promo {
    background-size: 210px;
    background-position: bottom 10px right -50px;
  }
  .promo__title {
    font-size: 2.4em;
    line-height: 1.2;
  }
  .promo__text {
    font-size: 1.4em;
    margin-top: 0;
  }
}

@media (max-width: 578px) {
  .container__header,
  .container__wrap,
  .container__footer {
    width: 90%;
  }
  .promo {
    background-image: none;
  }
  .promo__title {
    margin-bottom: 10px;
  }
  .restaurants__title {
    font-size: 2em;
  }
  .card {
    flex-basis: 100%;
  }
  .footer {
    padding: 30px 0;
  }
  .container__footer {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .menu-footer {
    margin-left: 0;
    margin-right: 0;
    order: 0;
  }
  .container__footer a {
    margin-right: 15px;
    order: 1;
  }
  .social-menu {
    order: 2;
  }
}
@media (max-width: 480px) {
  .container__footer {
    flex-direction: column;
    align-items: center;
  }
  .button {
    min-height: 40px;
  }
  .button-text {
    display: none;
  }
  .button-icon {
    margin: 0;
  }
  .container__wrap {
    padding-bottom: 30px;
  }
  .promo {
    padding: 20px;
  }
  .restaurants__heding {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .input-search {
    margin: 10px 0;
    flex: 1;
  }
  .container__footer a {
    order: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .menu-footer {
    margin-bottom: 20px;
  }
}
